<div class="memo">
  <h2>About Us</h2>
  <h2>What is Gamer Picks?</h2>
  <p>GamerPicks is a PC game aggregation website that combines effective game reviews and visuals to help players of any experience level to get accurate and appropriate information about games.</p>
</div>
<div class="bio-box">
  <h3>Ted Shaw - Product Manager</h3>
  <p>@wahsdet</p>
  <p>Hi! I'm a Product Manager in the tech industry, and I love playing PC games and testing out new technologies. My vision for this page was to give back to the PC gaming community and create something that would benefit all PC players. I love a cup of coffee and problem solving during the day, and playing some good ol' League of Legends at night.</p>
</div>
<div class="bio-box">
  <h3>Lewis Bracey - Web Developer</h3>
  <p>lewisbracey.com</p>
  <p>I'm a full stack developer with a passion for innovation.</p>
</div>
<div class="bio-box">
  <h3>Stefani Washburn - UX Designer</h3>
  <p>@stefaniwashburn</p>
  <p>Im a UX designer with a background in business development and psychology. I have a passion for creating great customer experiences!</p>
</div>
